.idea/
.docker/
.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
data/DoctrineORMModule/*
!data/DoctrineORMModule/Proxy/.gitkeep
phpunit.xml
docker-compose.override.yml
